[submodule ".registry"]
	path = .registry
	url = https://github.com/razvanazamfirei/razvanazamfirei.r-universe.dev
	branch = HEAD
[submodule "broom"]
	path = broom
	url = https://github.com/tidymodels/broom
	branch = v1.0.7
[submodule "cowplot"]
	path = cowplot
	url = https://github.com/wilkelab/cowplot
	branch = 1.1.2
[submodule "dplyr"]
	path = dplyr
	url = https://github.com/tidyverse/dplyr
	branch = v1.1.4
[submodule "ganttrify"]
	path = ganttrify
	url = https://github.com/giocomai/ganttrify
[submodule "ggforce"]
	path = ggforce
	url = https://github.com/thomasp85/ggforce
	branch = v0.4.2
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	branch = v3.5.1
[submodule "ggridges"]
	path = ggridges
	url = https://github.com/wilkelab/ggridges
[submodule "gridtext"]
	path = gridtext
	url = https://github.com/wilkelab/gridtext
[submodule "gt"]
	path = gt
	url = https://github.com/rstudio/gt
	branch = v0.11.1
[submodule "haven"]
	path = haven
	url = https://github.com/tidyverse/haven
	branch = v2.5.4
[submodule "hrbrthemes"]
	path = hrbrthemes
	url = https://github.com/hrbrmstr/hrbrthemes
	branch = 0.8.0
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
	branch = v1.9.2
[submodule "magrittr"]
	path = magrittr
	url = https://github.com/tidyverse/magrittr
	branch = v2.0.3
[submodule "patchwork"]
	path = patchwork
	url = https://github.com/thomasp85/patchwork
	branch = v1.3.0
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
	branch = v0.22.0
[submodule "purrr"]
	path = purrr
	url = https://github.com/tidyverse/purrr
	branch = v1.0.2
[submodule "readr"]
	path = readr
	url = https://github.com/tidyverse/readr
	branch = v2.1.5
[submodule "showtext"]
	path = showtext
	url = https://github.com/yixuan/showtext
[submodule "simdistr"]
	path = simdistr
	url = https://github.com/cran/simdistr
[submodule "sysfonts"]
	path = sysfonts
	url = https://github.com/yixuan/sysfonts
[submodule "tibble"]
	path = tibble
	url = https://github.com/tidyverse/tibble
	branch = v3.2.1
[submodule "tidyr"]
	path = tidyr
	url = https://github.com/tidyverse/tidyr
	branch = v1.3.1
[submodule "viridis"]
	path = viridis
	url = https://github.com/sjmgarnier/viridis
	branch = v0.6.3CRAN
